<h1>Demo#index</h1>

<%= link_to('Hello Page', {:action => 'hello'}) %>
<%= link_to('Hello Page with params', {:action => 'hello', :page => 5, :id => 20}) %>
<%= link_to('Roar', '#', :onclick => "jsRoar('JavaScript'); return true;") %>